
.Footerbar{
    background-color: black;
    text-align: center;
    align-items: center;
    font-size: large;
    font-style: italic;
   
}
.Footerbar .foot{
    justify-content:space-around;
    display: flex;
}
.Footerbar .foot a:hover{
   color: blue;
   
}

.Address{
    color: white;
    font-style: italic;
    font-size: large;
    font-family: sans-serif;
}